<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Channel</title>
</head>
<body>
    <h1>Assalomu Alaykum.</h1>
<pre id="response"></pre>
<script>

    const ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";

    const ws = new WebSocket(
        ws_scheme + `://${window.location.host}/ws/news/`
    )


    ws.onopen = function (e) {
        ws.send(JSON.stringify({
            action: "list",
            request_id: new Date().getTime()
        }))
    };

    ws.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.getElementById("response").textContent = JSON.stringify(data, undefined, 2);
        console.log('RealTime', data.data)
    };

</script>
</body>
</html>
